<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PersonalSignDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C777B101EE6501A00197C1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C777B291EE6501A00197C1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C777B341EE6501A00197C1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
